/*
Powered by:
- https://github.com/tonystar/bootstrap-float-label
- https://github.com/tonystar/float-label-css
- https://v4-alpha.getbootstrap.com/
*/
body {
  position: relative;
  max-width: 25rem;
  margin: 2rem auto;
}

a {
  display: block;
  padding: 10px;
  position: absolute;
  z-index: -1;
  top: 1rem;
  left: 100%;
  margin-left: -62px;
  transition: all .2s;
}

a:hover {
  margin-left: 0;
}
